html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: center;
}

#choice-message {
    display: flex;
    justify-content: space-evenly;
}

#results-message {
    font-size: 100px;
}